input.event-name-input(type="text", value=event.name, data-id= event.psql_id)

div.event-times-rows
  each time in event.times
    div.event-time-row(data-id= time.event_id)
      input.event-date-input(type= "date", value= time.date)
      input.event-time-input(type= "time", value= time.time)
      button.event-time-modal-controller Edit Actors and Roles
      div.event-time-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Edit Event", aria-hidden="true")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button", data-dismiss="modal")
                span(aria-hidden="true") &times;
                span.sr-only Close
              h4.modal-title Edit Event
            div.modal-body
              each actorRole in event.actorsByTimes[time.original]
                div.actor-role-selection
                  select.actor-select-menu.actor-role-select-menu
                    each actor in actors
                      - if (actor.psql_id == actorRole.actor.psql_id)
                        option(value= actor.psql_id selected)= actor.name
                      - else
                        option(value= actor.psql_id)= actor.name
                  span playing
                  select.role-select-menu.actor-role-select-menu
                    each role in roles
                      - if (role.psql_id == actorRole.role.psql_id)
                        option(value= role.psql_id selected)= role.name
                      - else
                        option(value= role.psql_id)= role.name

              button.btn.btn-primary.add-actor-role-button Add an actor

            div.modal-footer
              button.btn.btn-primary.save-actor-role-changes(type="button") Save changes
      input.event-deletion-checkbox(type= "checkbox")
      span Mark for deletion

  div.prototype-new-event-time-row
    input.event-date-input(type= "date")
    input.event-time-input(type= "time")
    button.event-time-modal-controller Edit Actors and Roles
    div.event-time-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Edit Event", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title Edit Event
          div.modal-body
          div.modal-footer
            button.btn.btn-primary(type="button") Save changes

div.event-edit-controls
  button.add-event-button.btn Add Event
  button.submit-event-edit.btn.btn-success Save Changes
